@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    background-color:rgb(40, 37, 37);
    color:white;
    position: absolute;
    width: fit-content;
    height:fit-content;
    border-radius: 15px;
    box-shadow: 1px 0px 13px rgb(67, 67, 67);
    margin-top:150px;
    margin-left:46%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
}

.contact.open-menu{
    max-height: 400px;
    background-color: rgb(40, 37, 37);
}

.sub-contact{
  padding: 10px;
}
.sub-contact p{
    font-weight: bold;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-contact button{
   padding: 5px;
   margin-left: 100px;
   margin-top: 10px;
   border-radius: 10px;
}
.sub-contact button:hover{
    background-color: red;
}
.sub-contact p:hover{
    background-color: green;
}
